@{
    ViewData["Title"] = "CrearJugador";
}

<form method="post" Action='@Url.Action("GuardarJugador", "Home")' enctype="multipart/form-data"> 

     <input class="form-control" type="hidden" name="IdEquipo" value='@ViewBag.IdEquipo' > 
   

    <p>Ingresar nombre del jugador</p>
    <input type="text" name="Nombre" placeholder="nombre..."/>

     <p>Ingresar fecha de nacimiento del jugador</p>
    <input type="date" name="FechaNacimiento" placeholder="fecha de nacimiento..."/>

      <p>Ingresar equipo actual del jugador</p>
    <input type="text" name="EquipoActual" placeholder="equipo actual..."/>
 
    <p>Ingresar una foto actual del jugador</p>
    <input type="file" name="Foto" placeholder="equipo actual..."/>

<br >

      <input type="submit" value="Guardar" class="btn btn-primary" style="width: 300px;">
</div>


    

</form>