@{
    ViewData["Title"] = "CrearJugador";
}

<form method="post" Action='@Url.Action("GuardarJugador", "Home")' enctype="multipart/form-data"> 

     <input class="form-control" type="hidden" name="IdEquipo" value='@ViewBag.IdEquipo' > 
   

    <p>Ingresar nombre del jugador</p>
    <input type="text" name="Nombre" placeholder="nombre..."/>

     <p>Ingresar fecha de nacimiento del jugador</p>
    <input type="date" name="FechaNacimiento" placeholder="fecha de nacimiento..."/>

      <p>Ingresar equipo actual del jugador</p>
    <input type="text" name="EquipoActual" placeholder="equipo actual..."/>
 
    <p>Ingresar una foto actual del jugador</p>
    <input type="file" name="Foto" placeholder="equipo actual..."/>

<br >

      <input type="submit" value="Guardar" class="btn btn-primary" style="width: 300px;">
</div>


    

</form>

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="card-title mb-3 text-center">Crear jugador</h6>

            
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label for="name">Name</label> --> <input class="form-control" type="text" placeholder="Name"> </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Fecha de nacimiento"> </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Equipo actual"> </div>
                    </div>
                </div>
            </div>
            <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
        </div>
    </div>
</div>