@{
    ViewData["Title"] = "CrearJugador";
}

<form method="post" Action='@Url.Action("GuardarJugador", "Home")' enctype="multipart/form-data"> 

   
   

    <p>Ingresar nombre del jugador</p>
    <input type="text" name="Nombre" placeholder="nombre...">

     <p>Ingresar fecha de nacimiento del jugador</p>
    <input type="date" name="FechaNacimiento" placeholder="fecha de nacimiento...">

      <p>Ingresar equipo actual del jugador</p>
    <input type="text" name="EquipoActual" placeholder="equipo actual...">
 
    <p>Ingresar una foto actual del jugador</p>
    <input type="file" name="Foto" placeholder="equipo actual...">

</form>