@{
    ViewData["Title"] = "CrearJugador";
}
 <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=@ViewBag.IdEquipo})'  class="btn btn-primary mt-2">Atras</a>


<form method="post" Action='@Url.Action("GuardarJugador", "Home")' enctype="multipart/form-data"> 
    <div class="container mt-5 mb-5 d-flex justify-content-center">
         <div class="card px-1 py-4">
            <div class="card-body">
                <h6 class="card-title mb-4 text-center h3">Crear jugador</h6>
                <input class="form-control" type="hidden" name="IdEquipo" value='@ViewBag.IdEquipo' >
            
         <div class="row mb-3">
            <div class="col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Nombre" autocomplete="off"name="Nombre" required> </div>
                </div>
            </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group"> <input class="form-control" type="date" autocomplete="off" required placeholder="Fecha de nacimiento" name="FechaNacimiento"> </div>
              </div>
          </div>
      </div>
          <div class="row mb-3">
             <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group"> <input class="form-control" autocomplete="off" type="text" required placeholder="Equipo actual" name="EquipoActual"> </div>
             </div>
           </div>
        </div>

                 
                    <p class="text-center">Foto del jugador</p>

               
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                      
                        <div class="input-group"> <input class="form-control"  type="file" required placeholder="Foto" name="Foto"> </div>
             </div>
                 </div>
                   </div>  <div class="row mb-3">
                    
             <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group"> <input class="form-control" autocomplete="off" type="number" required placeholder="Número de camiseta" name="NumCamiseta"> </div>
             </div>
           </div>
        </div>
           
                    @if(ViewBag.numeroRep == 1){
                        <h5 class="text-warning">El número de camiseta ya fue usado, ingrese de nuevo</h5>
                    }



                     <input type="submit" value="Guardar" class="btn btn-primary" style="width: 300px;">
                      <input type="reset" value="Restablecer" class="btn btn-danger"  style="width: 300px;">
                     </div>
               </div>
        </form>