@{
    ViewData["Title"] = "DetalleJugador";
}


<div class="container">
<h1 class="text-center">@ViewBag.miJugador.Nombre</h1>
<img class="vuelta" src=@ViewBag.miJugador.Foto width="auto" height="300px">
<h1 class="text-center">@ViewBag.miJugador.EquipoActual</h1>
<h1 class="text-center">@ViewBag.miJugador.FechaNacimiento</h1>
</div>