@{
    ViewData["Title"] = "DetalleEquipo";
}




<h1 class="Text-Center">@ViewBag.InfoEquipo.Nombre</h1>
<img class="imagen1" src=@ViewBag.InfoEquipo.Camiseta>
<h1 class="Text-Center">@ViewBag.InfoEquipo.Continente</h1>
<h1 class="Text-Center">@ViewBag.InfoEquipo.CopasGanadas</h1>


 <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.InfoEquipo.IdEquipo})'  class="btn btn-primary mt-2">Crear un Jugador</a>
 
