@{
    ViewData["Title"] = "DetalleJugador";
}

<a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=@ViewBag.miJugador.IdEquipo})' class="btn btn-primary mt-2">Atras</a>

<div class="container informacion">

    <h1 class="marroncito text-center display-1">@ViewBag.miJugador.Nombre</h1>
    <img class="vuelta" src=@ViewBag.miJugador.Foto width="auto" height="300px">
    <h2 class="marroncito text-center pt-3">@ViewBag.miJugador.FechaNacimiento</h1>

  </div>