@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">EQUIPOS</h1>

@foreach (Equipo eq2 in ViewBag._ListaEquipos)
{
    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@eq2.Escudo" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title text-center mt-2">@eq2.Nombre</h5>
            <a href='@Url.Action("VerDetalleEquipo","Home", new {eq=eq2.IdEquipo})'  class="btn btn-primary mt-2">Detalle</a>
        </div>
    </div>
}

