@{
    ViewData["Title"] = "Privacy Policy";
}


 <h1 class="margenTitulo">Política de Privacidad.</h1>
 <p class="margen">Todos los derechos de autor son reservados dentro del convenio de privacidad con la escuela <a href="https://campus.ort.edu.ar">Secundaria Ort Almagro.</a></p>
