
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
 background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;


}

nav{
  background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;

}
