
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
 background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;


}

nav{
  background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;

}


.hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Imagenes/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 315px;
}

.blanco{
  color: white;
  
}

@font-face {
  font-family: fuente1;
  src: url('/letraQatar.otf') format('truetype');
}

*{
  font-family: fuente1;
}

.informacion{
  width: 600px;
  height: auto;
  max-width: 100%;
}

.informacion2{
  width: 900px;
  height: auto;
 max-width: 100%;
}


.marroncito{
  color: darkkhaki;
}

.redondeado{
  border-radius: 20px;
}

.opacidad{
  opacity: 50;
}

.sd{
  text-decoration: none;
}

.nomCards{
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
} 

.decoracion{
  text-decoration: none;
}

.transparencia:hover{
   filter: opacity(.5);
}

.rotar:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;}

  
  input{
    max-width: 100%;
  }

    table {
      text-align: left;
      line-height: 40px;
      border-collapse: separate;
      border-spacing: 0;
      border: 2px solid rgb(142,20,57);
      width: 500px;
      margin: 50px auto;
      border-radius: .25rem;
      max-width: 100%;
    }
    
    thead tr:first-child {
      background:rgb(142,20,57);
      color: #fff;
      border: none;
    }
    
    th:first-child,
    td:first-child {
      padding: 0 15px 0 20px;
    }
    
    th {
     font-weight: 500;
    }
    
    thead tr:last-child th {
      border-bottom: 3px solid #ddd;
    }
    
   
    
    tbody tr:last-child td {
      border: none;
    }
    
    tbody td {
      border-bottom: 1px solid #ddd;
    }
    
    td:last-child {
      text-align: right;
      padding-right: 10px;
    }
    
    .button {
      color: #aaa;
      cursor: pointer;
      vertical-align: middle;
      margin-top: -4px;
    }
    
    .edit:hover {
      color: #0a79df;
    }

    .edit {
      color: #0a79df;
    }
    
    
    .delete:hover {
      color: #dc2a2a;
    }

    .delete{
      color:red;
    }

    .sombra{
      box-shadow: 0px 5px 5px black;
    }
    

.saturado:hover 
{filter: saturate(180%);}



.pagina {
  background-image: linear-gradient(
    to right,
    white,
    #54b3d6 50%,
    darkkhaki 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.pagina:before {
  
  content: '';
  background: darkkhaki;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.pagina:hover {
  
 background-position: 0;
}

.pagina:hover::before {
  width:100%;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.5); 
}

@media (max-width: 768px) {
 
    .vid{
     max-width: 100%;
    }
   
  
}








/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.open-modal {
  font-weight: bold;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal {
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;

}


.modal-dialog {
  
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
 
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header
 {
  background: white;
  height: 40x;
  
}

.cruz{
  height: 15px;
  
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/Imagenes/fondo.png");
}

.modal-header .close-modal {
  font-size: 1.5rem;
  
 

}

.modal p + p {
  margin-top: 1rem;
}

#modal1{
  background-color: rgba(0,0,0, 0.5) !important;
}

.modal-content{
  background-image: url("/Imagenes/fondo.png");
}

.color{
  background-image: url("/Imagenes/fondo.png");
}



.giro:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
   



