
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
 background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;


}

nav{
  background-image: url("/Imagenes/fondo.png");
  background-position:center;
  background-attachment:fixed;

}


.hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Imagenes/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 315px;
}

.blanco{
  color: white;
  
}

@font-face {
  font-family: fuente1;
  src: url('/letraQatar.otf') format('truetype');
}

*{
  font-family: fuente1;
}

.informacion{
  width: 600px;
  height: auto;
 
}



.marroncito{
  color: darkkhaki;
}

.redondeado{
  border-radius: 20px;
}

.opacidad{
  opacity: 50;
}

.sd{
  text-decoration: none;
}

.nomCards{
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
} 

.decoracion{
  text-decoration: none;
}

.transparencia:hover{
   filter: opacity(.5);
}

.rotar:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;}

  
  .vuelta:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }

    table {
      text-align: left;
      line-height: 40px;
      border-collapse: separate;
      border-spacing: 0;
      border: 2px solid rgb(142,20,57);
      width: 500px;
      margin: 50px auto;
      border-radius: .25rem;
    }
    
    thead tr:first-child {
      background:rgb(142,20,57);
      color: #fff;
      border: none;
    }
    
    th:first-child,
    td:first-child {
      padding: 0 15px 0 20px;
    }
    
    th {
     font-weight: 500;
    }
    
    thead tr:last-child th {
      border-bottom: 3px solid #ddd;
    }
    
   
    
    tbody tr:last-child td {
      border: none;
    }
    
    tbody td {
      border-bottom: 1px solid #ddd;
    }
    
    td:last-child {
      text-align: right;
      padding-right: 10px;
    }
    
    .button {
      color: #aaa;
      cursor: pointer;
      vertical-align: middle;
      margin-top: -4px;
    }
    
    .edit:hover {
      color: #0a79df;
    }

    .edit {
      color: #0a79df;
    }
    
    
    .delete:hover {
      color: #dc2a2a;
    }

    .delete{
      color:red;
    }